.messageField1 {
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 5px;
}

.messageField2 {
    display: flex;
    justify-content: left;
    color: white;
    padding: 5px;
}

.messageText1 {
    background: rgb(9, 0, 176);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px 20px 0 20px;
}

.messageText2 {
    background: green;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px 20px 20px 0;
}

.messagesField {
    width: 100%;
    background-color: white;
    overflow: auto;
    height: 400px;
}

.mainInfo {
    display: grid;
    grid-template-columns: 1fr 10fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white
}

.buttonsField {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
}
