.header {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    background: rgb(36, 49, 99);
    padding: 10px;
}

.header1 {
    display: flex;
    align-items: center;   
    justify-content: center;
}

.button {
    width: 50%
}