.dialogBox {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mainDialogBox {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    background: gray
}

h2 {
    color: white;
}

.dialogsMessage {
    display: flex;
    justify-content: left;
}

.dialogsImg {
    grid-row: span 2;
}